USE [KnowledgeDB]
GO
/****** Object:  Table [dbo].[Knowledge]    Script Date: 2026/07/19 9:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knowledge](
	[KnowledgeId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Technology] [nvarchar](200) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Problem] [nvarchar](max) NULL,
	[Analysis] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[LessonsLearned] [nvarchar](max) NULL,
	[Keywords] [nvarchar](500) NULL,
	[Difficulty] [tinyint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KnowledgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Knowledge] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Knowledge] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
